﻿dl dd {
    text-decoration: none;
    color: grey;
    padding-top: 15px;
}
dl {
    margin:0px;
}
.vidPop {
    display: table;
    width:80%;
    border-spacing:10px;
    margin:auto;
}

.vidPop a {
    display: table-cell;
    width: 275px;
}
.vidPop a div {
    width: 275px;
}
a:hover {
    text-decoration: none;
}
.vidPop dd:nth-of-type(n+3) {
    display: inline;
    
    padding-right: 10px;
}
img{
    width:100%;
    height:175px;
}
.vidTitre {
    color:black;
    font-weight:bold;
    font-size:16px;
}

.chainePop{
    height:73px;
    width:80%;
    margin:auto;
}
.chainePop div {
    height: 80%;
}
.chainePop dl {
    height: 80%;
}
.chainePop a {
    width: 18%;
    display: inline-block;
    float:inline-start;
    
}
.chaineTitre {
    color: black;
    font-weight: bold;
    font-size: 16px;
}
.chainePop dd {
    text-align: center;
}


