﻿header h1 {
    
    font-size: 50px;
    margin: 0;
    letter-spacing: 7px;
    display: inline-block;
    width: 40%;
    line-height:80px;
    background-color: red;
    border:20px;
    border-radius:15px;

}
header div {
    text-align:center;
    width:100%;
}

header {
    margin-bottom:20px;
}
