﻿dl dd {
    text-decoration: none;
    color: grey;
    padding-top: 15px;
}

dl {
    margin: 0px;}
a:hover {
    text-decoration: none;
}
.vidTitre {
    color: black;
    font-weight: bold;
    font-size: 16px;
    position:relative;
    top:-70px;
    padding-top:0px;
}
.vidPop dd{
    
}
.vidPop dd {
    padding-right: 10px;
    display:inline-block;
}
.vidPop dd :nth-last-of-type(n+2){
    display: inline;
    height:16px;
}


.vidPop dl {
    
    height: 200px;
}
img {
    width: 250px;
    height: 170px;
}

.chainePop dd {
    padding-right: 10px;
    display: inline-block;
}
