﻿.searchbar input[type="text"] {
    height: 40px;
    border-radius: 8px;
    font-size: large;
    border:2px solid #808080;
    width:60%;
}

.searchbar button {
    height: 45px;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

.searchbar select {
    height: 40px;
    border-radius: 8px;
    border: 2px solid #808080;
    font-size: large;
}
