﻿@model Youtube.Models.DataModels.Membres

@{
    ViewBag.Title = "Supression";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h3>Êtes vous sur de vouloir supprimer ceci ? </h3>
    <div>
        <h4>Membre @Html.DisplayFor(model => model.NomUtilisateur)</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NomUtilisateur)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NomUtilisateur)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateNaissance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateNaissance)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sexe)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sexe)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Courriel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Courriel)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> 
            </div>



        }
    </div>
    
    <div>
        @Html.ActionLink("Retour aux détails du compte", "Details", new { id = Convert.ToInt32(User.Identity.Name) }) |
        @Html.ActionLink("Modifier mon profil", "Edit") |
        @Html.ActionLink("Retour à l'acceuil", "Index", "Home")
    </div>
</body>
</html>
