﻿@model Youtube.Models.DataModels.Membres

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Détails de @Html.DisplayFor(model => model.NomUtilisateur) </h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NomUtilisateur)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NomUtilisateur)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateNaissance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateNaissance)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sexe)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sexe)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Courriel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Courriel)
            </dd>

        </dl>
        <hr />
        <h4>Chaines de @Html.DisplayFor(model => model.NomUtilisateur)</h4>
        @{ if (Model.Chaines.Count != 0)
            {
                
        <dl class="dl-horizontal">
            
                @foreach (var item in Model.Chaines)
                {
                    <dt>
                        @Html.DisplayNameFor(model => item.NomChaine)
                    </dt>
                    <dd>
                        <a href="@Url.Action("Details", "Chaines", new { id=item.PKChainesId})">
                            @Html.DisplayFor(modelItem => item.NomChaine)
                        </a>
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(modelItem => item.Description)
                    </dt>
                    <dd>
                        @Html.DisplayFor(modelItem => item.Description)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(modelItem => item.Categorie)
                    </dt>
                    <dd>
                        @Html.DisplayFor(modelItem => item.Categorie)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(modelItem => item.tags)
                    </dt>
                    <dd>
                        @Html.DisplayFor(modelItem => item.tags)
                    </dd>
                    
                }

        </dl>
                
                    }
                    else
                    {
                    <p>
                        L'utilsateur @Html.DisplayFor(model => model.NomUtilisateur) n'a pas de chaines.
                    </p>

                    }
                    }
                    <hr />

                    <h4>Vidéos de @Html.DisplayFor(model => model.NomUtilisateur)</h4>

                    <dl class="dl-horizontal">
                        @foreach (var item in Model.Chaines)
                        {
                            foreach (var item1 in item.VideosChaine)
                            {
                                <dt>
                                    @Html.DisplayNameFor(model => item1.srcImg)
                                </dt>
                                <dd>
                                    <img id="img1" src="@Url.Content(item1.srcImg)" alt="Img non dispo" />
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => item1.titreVideo)
                                </dt>
                                <dd>
                                    <a href="@Url.Action("Details", "Videos", new { id=item1.PKVideoId})">
                                        @Html.DisplayFor(modelItem => item1.titreVideo)
                                    </a>
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(modelItem => item1.CompteurVue)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(modelItem => item1.CompteurVue)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => item1.DateParution)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(modelItem => item1.DateParution)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => item1.Description)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(modelItem => item1.Description)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(modelItem => item1.Categorie)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(modelItem => item1.Categorie)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(modelItem => item1.tags)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(modelItem => item1.tags)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => item1.Chaines.NomChaine)
                                </dt>
                                <dd>
                                    <a href="@Url.Action("Details", "Chaines", new { id=item.PKChainesId})">
                                        @Html.DisplayFor(modelItem => item.NomChaine)
                                    </a>
                                </dd>

                            }
                        }



                    </dl>


                    <hr />
            </div>
    <p>
        @if (User.Identity.IsAuthenticated && (Convert.ToInt32(User.Identity.Name) == Model.PKMembreId))
        {@Html.ActionLink("Modifier mon profil", "Edit")
    }
        |
        @if (User.Identity.IsAuthenticated && (Convert.ToInt32(User.Identity.Name) == Model.PKMembreId))
        {
            @Html.ActionLink("Supprimer mon profil", "Delete", new { id = Model.PKMembreId })
        }


        |
        @Html.ActionLink("Retour à l'acceuil", "Index", "Home")
    </p>
</body>
</html>
