﻿@model Youtube.Models.DataModels.Video
@using Youtube.Models.DataModels

@{
    ViewBag.Title = "Création vidéo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Permet de ne pas voir "toute les categories" comme choix
    var enumCategorie = EnumHelper.GetSelectList(typeof(Categories));
    var filtreEnumCategorie = enumCategorie.Where(e => !e.Text.Equals(Categories.tout.ToString(), StringComparison.OrdinalIgnoreCase)).ToList();
    var YoutubeDB = new YoutubeDB();
    int mkID = Convert.ToInt32(User.Identity.Name);
    var listChaine = YoutubeDB.Chaines.Where(c => c.FKMembresId == mkID);
    var items = listChaine.Select(c => new SelectListItem
    {
        Text = c.NomChaine,
        Value = c.PKChainesId.ToString()
    });

}


<div>

    @using (Html.BeginForm("Upload", "Videos", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <p>Upload mignature(image)</p>
        <input type="file" name="fichier" id="fichier" accept="image/*"/>
        <input type="submit" value="Téléverser" />
        <p>@TempData["uploadImg"] </p>
    }
</div>
<div>

    @using (Html.BeginForm("Upload", "Videos", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <p>Upload video</p>
        <input type="file" name="fichier" id="fichier" accept="video/*"/>
        <input type="submit" value="Téléverser" />
        <p>@TempData["uploadVid"] </p>
    }
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.titreVideo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.titreVideo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.titreVideo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Categorie, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Categorie, filtreEnumCategorie, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Categorie, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tags, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tags, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tags, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FKChainesId, "Chaines de la vidéo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FKChainesId", items, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FKChainesId, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Créer vidéo" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour aux détails du compte", "Details", "Membres", new { id = Convert.ToInt32(User.Identity.Name) }) |
    @Html.ActionLink("Retour à l'acceuil", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
