﻿@model Youtube.Models.DataModels.Video

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Suppression</h2>

<h3>Êtes-vous sur de vouloir effacer votre vidéo ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.titreVideo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titreVideo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.srcImg)
        </dt>

        <dd>
            <img id="img1" src="@Url.Content(Model.srcImg)" alt="Img non dispo" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompteurVue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompteurVue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateParution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateParution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tags)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
        <div>
            @Html.ActionLink("Retour à la vidéo", "Details", new { id = Model.PKVideoId }) |
            @Html.ActionLink("Retour à l'acceuil", "Index", "Home")
        </div>
    }
</div>
