﻿@model Youtube.Models.DataModels.Video

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Video</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titreVideo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.titreVideo)
        </dd>

        <dd>
            <video width="620" source src="@Url.Content(Model.srcVid)" height="340" controls="controls">
                Your browser does not support the video tag.
            </video>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chaines.NomChaine)
        </dt>

        <dd>
            <a href="@Url.Action("Details", "Chaines", new { id=Model.FKChainesId})">
                @Html.DisplayFor(model => model.Chaines.NomChaine)
            </a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chaines.Membres.NomUtilisateur)
        </dt>

        <dd>
            <a href="@Url.Action("Details", "Membres", new { id=Model.Chaines.FKMembresId})">
                @Html.DisplayFor(model => model.Chaines.Membres.NomUtilisateur)
            </a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompteurVue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompteurVue) vues
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateParution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateParution)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tags)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tags)
        </dd>
    </dl>
    <p>
        @if (User.Identity.IsAuthenticated && (Convert.ToInt32(User.Identity.Name) == Model.Chaines.FKMembresId))
        {
            @Html.ActionLink("Supprimer ma vidéo", "Delete", new { id = Model.PKVideoId }) 
        }


        |
        @Html.ActionLink("Retour à l'acceuil", "Index", "Home")
    </p>
</div>
