﻿@using Youtube.Models.DataModels
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<link rel="stylesheet" href="~/Content/searchbar.css">
<link rel="stylesheet" href="~/Content/Accueil.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="searchbar">
    <form action="/home/recherche" method="post">
        @Html.DropDownList("categorie", new SelectList(ViewBag.categories))
        <input type="text" placeholder="Search.." id="search" name="search" />
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
<h3>Chaines Populaires</h3>
<div class="chainePop">
    @{
        List<Chaines> lC = ViewBag.chaines;
        for (int i = 0; i <= lC.Count - 1 && i < 5; i++)
        {
            Html.RenderPartial("chainesPop", (Chaines)lC[i]);
        }
    }
</div>
<h3>Videos Populaires</h3>
<div class="vidPop">
    @{
        List<Video> lV = ViewBag.Videos;
        for (int i = 0; i <= lV.Count - 1 && i < 25; i++)
        {
            Html.RenderPartial("vidPop", (Video)lV[i]);
        }
    }
</div>
