﻿@using Youtube.Models.DataModels
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<link rel="stylesheet" href="~/Content/searchbar.css">
<link rel="stylesheet" href="~/Content/recherche.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@{
    ViewBag.Title = "Recherche";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <form action="/home/recherche" method="post">
        <div class="searchbar">
            @Html.DropDownList("categorie", new SelectList(ViewBag.categories))
            <input type="text" placeholder="Search.." id="search" name="search" />
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
        
        @Html.DropDownList("filtre", new SelectList(ViewBag.filtres), new { onchange = "this.form.submit();" })
    </form>
</div>
<h2>Recherche</h2>
<h3>Chaines</h3>
<div class="chainePop">
    @{
        List<Chaines> lC = ViewBag.chaines;
        for (int i = 0; i <= lC.Count - 1 && i < 5; i++)
        {
            Html.RenderPartial("chainesPop", (Chaines)lC[i]);
        }
    }
</div>
<h3>Videos</h3>
<div class="vidPop">
    @{
        List<Video> lV = ViewBag.Videos;
        for (int i = 0; i <= lV.Count - 1 && i < 25; i++)
        {
            Html.RenderPartial("vidPop", (Video)lV[i]);
        }
    }
</div>
