﻿@model YoutubeTP.Models.ViewModels.LoginForm

@{
    ViewBag.Title = "LoginForm";
}

<h2>Connexion</h2>

 <form action="/Auth/LoginForm" method="Post">

     <div class="form-group">
         @Html.LabelFor(model => model.NomUtilisateur, htmlAttributes: new { @class = "control-label col-md-2" })
         <div class="col-md-10">
             @Html.EditorFor(model => model.NomUtilisateur)
             @Html.ValidationMessageFor(model => model.NomUtilisateur, "", new { @class = "text-danger" })
         </div>
     </div>

     <div class="form-group">
         @Html.LabelFor(model => model.MotDePasse, htmlAttributes: new { @class = "control-label col-md-2" })
         <div class="col-md-10">
             @Html.EditorFor(model => model.MotDePasse)
             @Html.ValidationMessageFor(model => model.MotDePasse, "", new { @class = "text-danger" })
         </div>
     </div>

     @*<div class="form-group">
         @Html.LabelFor(model => model.SeSouvenirDeMoi, htmlAttributes: new { @class = "control-label col-md-2" })
         <div class="col-md-10">
             <div class="checkbox">
                 @Html.EditorFor(model => model.SeSouvenirDeMoi)
                 @Html.ValidationMessageFor(model => model.SeSouvenirDeMoi, "", new { @class = "text-danger" })
             </div>
         </div>
     </div>*@

     <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
     <input type="submit" name="Go" value="Connexion" />
 </form>

