﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/navbar.css">
    <link rel="stylesheet" href="~/Content/header.css">
    <link rel="stylesheet" href="~/Content/Site.css">
</head>
<body>

    <header>
        <div>
            <h1>YouTube</h1>
        </div>
        
        
    </header>
    <div class="container body-content">

        @{
            Html.RenderPartial("navbar");
        }
       

        @RenderBody()
        <footer>
            <p>Travail fantastique de Stephy et Alexis</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
