﻿@model Youtube.Models.DataModels.Chaines
<a href="@Url.Action("Details", "Chaines", new { id = Model.PKChainesId })">
    <div>
        <dl class="dl-horizontal">
            <dd class="chaineTitre">
                @Html.DisplayFor(model => model.NomChaine)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.tags)
            </dd>
        </dl>
    </div>
</a>

