﻿@using Youtube.Models.DataModels
<div class="navbar">
    <ul>
        @if (User.Identity.IsAuthenticated)
        {

            YoutubeDB db = new YoutubeDB();
            Membres m = db.Membres.Find(Convert.ToInt32(User.Identity.Name));

            <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
            <li class="dropdown">
                <a class="dropbtn">
                    Connecté sous : @m.NomUtilisateur
                    @*<span class="caret"></span>*@
                </a>
                @*<ul class="dropdown-content" role="menu">*@
            <li>@Html.ActionLink("Mon compte", "Details", new { Controller = "Membres", id = m.PKMembreId })</li>
            <li>@Html.ActionLink("Créer une chaine", "Create", new { Controller = "Chaines" })</li>
            <li>@Html.ActionLink("Créer une vidéo", "Create", new { Controller = "Videos" })</li>
            <li>@Html.ActionLink("Modifier mon profil", "Edit", "Membres")</li>
            <li>@Html.ActionLink("Historique", "Historique", new { Controller = "Membres", id = m.PKMembreId }))</li>
            <li>@Html.ActionLink("Déconnexion", "Logout", "Auth")</li>
            @*</ul>*@
            </li>

        }
        else
        {
            <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
            <div class="itemGauche">
                <li>@Html.ActionLink("Inscription", "Inscription", "Auth")</li>
                <li>@Html.ActionLink("Connexion", "LoginForm", "Auth")</li>
            </div>

        }
    </ul>
</div>
