﻿@model Youtube.Models.DataModels.Video

<a href="@Url.Action("Details", "Videos", new { id=Model.PKVideoId})">
    <div>
        <dl>
            <dd>
                <img id="img1" src="@Url.Content(Model.srcImg)" alt="Img non dispo" />
            </dd>
            <dd class="vidTitre">
                @Html.DisplayFor(model => model.titreVideo)
            </dd>
            <dd class="infos">
                @Html.DisplayFor(model => model.Chaines.NomChaine)
            </dd>
            <dd class="infos"> 
                Vu @Html.DisplayFor(model => model.CompteurVue)
            </dd>
        </dl>
    </div>
</a>