﻿@model Youtube.Models.DataModels.Chaines

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Supression</h2>

<h3>Êtes vous sur de vouloir supprimer ceci ? </h3>
<div>
    <h4>Chaine  @Html.DisplayFor(model => model.NomChaine) </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Membres.NomUtilisateur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Membres.NomUtilisateur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomChaine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomChaine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tags)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> 
        </div>
    }
    <div>
        @Html.ActionLink("Retour aux détails de la chaine", "Details", new { id = Model.PKChainesId }) |
        @Html.ActionLink("Modifier ma chaine", "Edit", new { id = Model.PKChainesId })) |
        @Html.ActionLink("Retour à l'acceuil", "Index", "Home")
    </div>
</div>
