﻿@model Youtube.Models.DataModels.Chaines

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>Chaines de @Html.DisplayFor(model => model.Membres.NomUtilisateur) </h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.NomChaine)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomChaine)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categorie)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tags)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tags)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Membres.NomUtilisateur)
        </dt>
        <dd>
            <a href="@Url.Action("Details", "Membres", new { id = Model.FKMembresId })">
                @Html.DisplayFor(modelItem => modelItem.Membres.NomUtilisateur)
            </a>
        </dd>



    </dl>
    <h4>Vidéos de @Html.DisplayFor(model => model.NomChaine)</h4>
    <hr />
    @{ if (Model.VideosChaine.Count != 0)
        {
    <dl class="dl-horizontal">
        @foreach (var item1 in Model.VideosChaine)
        {
            <dt>
                @Html.DisplayNameFor(model => item1.srcImg)
            </dt>
            <dd>
                <img id="img1" src="@Url.Content(item1.srcImg)" alt="Img non dispo" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => item1.titreVideo)
            </dt>
            <dd>
               <a href="@Url.Action("Details", "Videos", new { id = item1.PKVideoId })">
                                        @Html.DisplayFor(modelItem => item1.titreVideo)
                                    </a>
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item1.CompteurVue)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item1.CompteurVue)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => item1.DateParution)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item1.DateParution)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => item1.Description)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item1.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item1.Categorie)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item1.Categorie)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item1.tags)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item1.tags)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item1.Chaines.NomChaine)
            </dt>
            <dd>
                <a href="@Url.Action("Details", "Chaines", new { id = item1.Chaines.PKChainesId })">
                    @Html.DisplayFor(modelItem => item1.Chaines.NomChaine)
                </a>
            </dd>
        }

    </dl>
        }
        else
        {
            <p>La chaine @Html.DisplayFor(model => model.NomChaine) n'a pas de vidéos.</p>

            }
    }
       @if (User.Identity.IsAuthenticated && (Convert.ToInt32(User.Identity.Name) == Model.FKMembresId))
    {
        @Html.ActionLink("Modifier ma chaine", "Edit", new { id = Model.PKChainesId })
    
    }
    |
    @if (User.Identity.IsAuthenticated && (Convert.ToInt32(User.Identity.Name) == Model.FKMembresId))
    {
        @Html.ActionLink("Supprimer ma chaine", "Delete", new { id = Model.PKChainesId })
    } 
    |
    |
    @Html.ActionLink("Retour à l'acceuil", "Index", "Home")
</div>
